<div class="h-full mb-4">
  <!-- Choose Asset -->
  @if(this.element().hasAsset === false) {
  <div class="flex flex-col items-center">
    <i class="pi pi-exclamation-triangle" style="font-size: 7rem"></i>
    <div class="prose mb-10 mt-4">
      <h2 class="mb-1">You haven't added content to this element yet!</h2>
      @if(this.element().type === AssetType.Article){
      <h2 class="text-center">Choose your article</h2>
      } @else if (this.element().type === AssetType.Video) {
      <h2 class="text-center">Choose your wideo</h2>
      }
    </div>

    <div class="grid grid-cols-2 w-9/12">
      <p-button
        (onClick)="upload()"
        [disabled]="!selectedFile"
        [style]="{ width: '100%', borderRadius: '0.5rem 0  0 0.5rem' }"
        label="Upload"
        class="mr-2"
        [loading]="loadingUpload"
      ></p-button>

      <!-- Upload File -->
      @if(selectedFile){
      <p-button
        (onClick)="cancel()"
        severity="secondary"
        [style]="{ width: '100%', borderRadius: '0 0.5rem 0.5rem 0' }"
        label="Cancel"
        class="ml-2"
      ></p-button>
      } @else {
      <p-fileupload
        #fu
        mode="basic"
        [style]="{ width: '100%', borderRadius: '0 0.5rem 0.5rem 0' }"
        chooseLabel="Choose"
        chooseIcon="pi pi-upload"
        (onSelect)="onSelectImage($event)"
        [accept]="getAccept()"
        class="ml-2"
      />
      <!-- accept="image/*" -->
      }
    </div>
  </div>
  }
  <!-- Has Asset -->
  @else{
  <div class="flex flex-col items-center">
    <!-- Video -->
    @if(this.element().type === AssetType.Video ){ @if(fileLink()){
    <video width="320" height="240" controls>
      <source [src]="fileLink()" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    } }
    <!-- Article -->
    @if(this.element().type === AssetType.Article ){ @if(fileLink()){
    <pdf-viewer
      [src]="fileLink()"
      [render-text]="true"
      [original-size]="false"
      style="width: 50vw; height: 70vh"
    ></pdf-viewer>

    } }
  </div>
  }
</div>
