:host ::ng-deep .p-inputtext {
  width: 100%;
}

:host ::ng-deep .wide-btn .p-button {
  display: flex;
  width: 100% !important;
}

:host ::ng-deep .p-dialog-header {
  display: none;
}

:host ::ng-deep .big-btn .p-button {
  padding-right: 40px;
  padding-left: 40px;
}
