<div
  (click)="onSelect()"
  class="cursor-pointer py-2"
  [ngClass]="isSelected() ? '' : 'su-border-y'"
>
  <div class="rounded-md py-2" [ngClass]="isSelected() ? 'bg-primary-100' : ''">
    <div
      class="flex gap-1 items-center rounded-sm"
      [ngClass]="isSelected() ? 'selected' : ''"
    >
      @if(author()?.profilePicture){
      <img [src]="author()?.profilePicture" style="width: 50px; height: 50px" />
      }@else {
      <p-skeleton shape="circle" size="2rem" styleClass="mr-2" />
      }
      <div class="prose max-w-none">
        @if(currentUser()?.id !== author()?.id){ @if(course()?.title){
        <p class="my-0 font-medium text-sm select-none">
          {{ course()!.title | truncate }}
        </p>
        } @else{
        <p-skeleton width="8rem" styleClass="mb-2" borderRadius="16px" />}
        @if(author()){
        <p class="my-0 font-light text-sm text-nowrap select-none">
          ({{ author()?.firstName }} {{ author()?.lastName }})
        </p>
        } @else{<p-skeleton
          width="8rem"
          styleClass="mb-2"
          borderRadius="16px"
        />} }@else { @if(talker()){
        <p class="my-0 font-medium text-sm text-nowrap select-none">
          {{ talker()?.firstName }} {{ talker()?.lastName }}
        </p>
        } @else {<p-skeleton
          width="8rem"
          styleClass="mb-2"
          borderRadius="16px"
        />} } @if(chat().lastMessage && chat().lastMessage?.content !== ''){
        <p class="my-0 font-light text-sm select-none">
          You: {{ chat().lastMessage!.content | truncate }}
        </p>
        }
      </div>
    </div>
  </div>
</div>
