<div class="flex w-full items-start px-4">
  <img
    [src]="course().thumbnailUrl"
    class="h-36 cursor-pointer my-4"
    [routerLink]="'/course-detail/' + course().id"
  />
  <div
    class="prose max-w-none !w-full h-full items-start cursor-pointer ml-4 mt-5"
    [routerLink]="'/course-detail/' + course().id"
  >
    <h1 class="mb-1 text-2xl font-semibold">
      {{ course().title }}
    </h1>
    <h1 class="mb-1 text-lg font-medium">Level: {{ course().level }}</h1>

    <p class="my-1 text-base">Author: {{ course().authorName }}</p>

    <div class="flex gap-4">
      <p-rating [(ngModel)]="course().averageRating" [readonly]="true" />
      <p class="my-1 text-base">({{ course().ratingsCount }})</p>
    </div>
  </div>
  <div class="flex flex-col items-end gap-2 ml-4 mt-5">
    <p class="my-0 text-nowrap text-2xl font-bold">
      {{ course().price | number : "1.2-2" }} $
    </p>
    @for(code of discountCodes(); track code.id){
    <app-mini-code [code]="code" />
    }
  </div>
</div>
<hr class="my-4" />
