<div class="w-full min-h-screen">
  <div class="lg:grid gap-6 lg:grid-cols-12 py-24">
    <div class="col-start-2 col-span-6 hidden lg:block xl:block">
      <img src="assets/svg/undraw_sign_up.svg" />
    </div>
    <div class="col-start-8 col-span-4 flex flex-col items-center">
      <h1
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl"
      >
        Sign up now to begin your educational adventure
      </h1>
      <form
        class="w-full flex-col flex gap-4"
        [formGroup]="signUpForm"
        (ngSubmit)="subbmitSignUp()"
      >
        <div class="flex flex-col gap-8">
          <p-floatLabel class="w-full">
            <input
              pInputText
              id="email"
              class="w-full"
              formControlName="email"
            />
            <label for="email">Email</label>
          </p-floatLabel>

          <div class="flex flex-wrap w-full">
            <p-floatlabel class="w-2/4 pr-1">
              <p-password
                id="password"
                [feedback]="false"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
                formControlName="password"
              />
              <label for="password">Password</label>
            </p-floatlabel>

            <p-floatlabel class="w-2/4 pl-1">
              <p-password
                [feedback]="false"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
                id="passwordConfirm"
                formControlName="passwordConfirm"
              />
              <label for="passwordConfirm">Confirm</label>
            </p-floatlabel>
          </div>
        </div>

        <div class="flex items-center gap-1">
          <p-checkbox
            formControlName="marketing"
            [value]="false"
            inputId="marketing"
            class="flex items-center"
            [binary]="true"
          />
          <label for="marketing" class="ml-2"
            >Do you want to receive marketing emails?</label
          >
        </div>

        <div class="w-full">
          <p-button
            type="submit"
            [style]="{ width: '100%' }"
            label="Sign in"
            icon="pi pi-sign-in"
            iconPos="right"
          />
        </div>
      </form>

      <p class="mt-10">
        Already have an account?
        <a routerLink="/sign-in" class="p-button">Sign In</a>
      </p>
    </div>
  </div>
</div>
