<div
  class="flex flex-col w-full justify-center items-center"
  style="min-height: 90vh"
>
  <div class="flex gap-12" style="max-width: 80%">
    <div class="flex flex-col prose max-w-none items-end">
      <h1 class="texl-6xl my-4 mb-1 text-right">Become an instructor</h1>
      <h1 class="texl-6xl my-4 mt-1 text-right">and start teaching with us.</h1>
      <p class="text-2xl my-1 mb-12 text-right">
        Share your knowledge, inspire students, and earn by creating your own
        courses. Join a global community of educators today.
      </p>
      <p-button (onClick)="changeRole()" class="big-btn"
        >Become an instructor</p-button
      >
    </div>
    <img src="assets/svg/professor.svg" style="width: 90%" />
  </div>
</div>
