<div>
  <input
    type="text"
    pInputText
    [(ngModel)]="title"
    (ngModelChange)="applyFilters()"
    placeholder="Search..."
  />
  <input
    type="text"
    pInputText
    [(ngModel)]="authorName"
    (ngModelChange)="applyFilters()"
    placeholder="Author Name"
  />
  @if(defaultCategory() === ''){
  <p-select
    [options]="categoryNames()"
    optionLabel="name"
    optionValue="id"
    placeholder="Category"
    class="w-full"
    [(ngModel)]="selectedCategory"
    (ngModelChange)="applyFilters()"
  />
  } @if(defaultSubcategory() === 'all'){
  <p-select
    [options]="subcategoryNames()"
    optionLabel="name"
    optionValue="id"
    placeholder="Subcategory"
    class="w-full"
    [(ngModel)]="selectedSubcategory"
    (ngModelChange)="applyFilters()"
  />
  }
  <p-select
    [options]="levels"
    optionLabel="name"
    optionValue="value"
    placeholder="Select a level"
    class="w-full"
    [(ngModel)]="selectedLevel"
    (ngModelChange)="applyFilters()"
  />
</div>
