<div class="w-full su-section-mt">
  <div class="grid grid-cols-2">
    <div
      class="col-start-1 col-span-1 flex flex-col justify-center items-center"
    >
      <img
        class="p-1 w-96 h-96 object-contain rounded-full"
        [src]="user()?.profilePicture!"
      />

      <div class="mt-10 flex gap-4">
        @if(user()?.socialMediaLinks?.website != null){
        <p-button
          icon="pi pi-globe"
          [text]="true"
          [raised]="true"
          (onClick)="openWebsite('website')"
        />
        } @if(user()?.socialMediaLinks?.twitter != null){
        <p-button
          icon="pi pi-twitter"
          [text]="true"
          [raised]="true"
          (onClick)="openWebsite('twitter')"
        />} @if(user()?.socialMediaLinks?.facebook != null){
        <p-button
          icon="pi pi-facebook"
          [text]="true"
          [raised]="true"
          (onClick)="openWebsite('facebook')"
        />} @if(user()?.socialMediaLinks?.youTube != null){
        <p-button
          icon="pi pi-youtube"
          [text]="true"
          [raised]="true"
          (onClick)="openWebsite('youTube')"
        />} @if(user()?.socialMediaLinks?.linkedIn != null){
        <p-button
          icon="pi pi-linkedin"
          [text]="true"
          [raised]="true"
          (onClick)="openWebsite('linkedIn')"
        />}
      </div>
    </div>

    <div class="col-start-2 col-span-1 flex flex-col su-section-mt prose">
      <h1
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl"
      >
        {{ user()?.firstName }} {{ user()?.lastName }}
      </h1>

      <h2>{{ user()?.details?.title }}</h2>
      <p>{{ user()?.details?.biography }}</p>
    </div>
  </div>

  @if(this.userId() === this.loggedUser()?.id){
  <div class="w-full mt-10 flex flex-row-reverse">
    <p-button (click)="goToEdit()">Edit</p-button>
  </div>
  }
</div>
