<div class="w-full flex justify-center">
  <div class="h-screen flex justify-center py-8 su-section-mt lg:w-192">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full">
      <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
        <p-step-list>
          <p-step [value]="1">Title</p-step>
          <p-step [value]="2">Category</p-step>
          <p-step [value]="3">Subcategory</p-step>
        </p-step-list>
        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <div
                class="flex flex-col justify-center items-center prose su-section-mt"
              >
                <h1 class="text-6xl text-center mb-4">Enter Course Title</h1>
                <p class="text-center">
                  Think of a compelling course title that captures the essence
                  of your content. Keep it clear and concise—aim for 5 words or
                  less to grab attention effectively!
                </p>

                <div
                  class="flex-auto flex flex-col justify-center items-center font-medium lg:w-128 w-full m-4"
                >
                  <input
                    id="title"
                    type="text"
                    pInputText
                    formControlName="title"
                    fluid="true"
                  />
                  <div class="w-full">
                    @if(titleIsInvalid) {
                    <p class="m-0 text-red-500 prose-sm justify-self-start">
                      Title is too long! Try choosing something else.
                    </p>
                    }
                  </div>
                </div>
              </div>
              <div class="flex pt-10 justify-end">
                <p-button
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(2)"
                  [disabled]="
                    form.get('title')?.invalid || form.get('title')?.pristine
                  "
                />
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <div
                class="flex flex-col justify-center items-center prose su-section-mt"
              >
                <h1 class="text-6xl text-center mb-4">Select a Category</h1>
                <p class="text-center">
                  Select a main category that best represents the subject of
                  your course. Choosing the right category helps students find
                  your course more easily.
                </p>

                <div
                  class="flex-auto flex justify-center items-center font-medium lg:w-128 w-full m-4"
                >
                  <p-select
                    [options]="categoryNames()"
                    optionLabel="name"
                    optionValue="id"
                    placeholder="Category"
                    class="w-full"
                    formControlName="category"
                    [(ngModel)]="selectedCategory"
                  />
                </div>
              </div>
              <div class="flex pt-10 justify-between">
                <p-button
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(1)"
                />
                <p-button
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(3)"
                  [disabled]="
                    form.get('category')?.invalid ||
                    form.get('category')?.pristine
                  "
                />
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
              <div
                class="flex flex-col justify-center items-center prose su-section-mt"
              >
                <h1 class="text-6xl text-center mb-4">Select a Subcategory</h1>
                <p class="text-center">
                  Now, choose a specific subcategory to narrow down the focus of
                  your course. This will help target the right audience and
                  improve course visibility.
                </p>

                <div
                  class="flex-auto flex justify-center items-center font-medium prose lg:w-128 w-full m-4"
                >
                  <p-select
                    [options]="subcategoryNames()"
                    optionLabel="name"
                    optionValue="id"
                    placeholder="Subcategory"
                    class="w-full"
                    formControlName="subcategory"
                  />
                </div>
              </div>
              <div class="flex pt-10 justify-between">
                <p-button
                  label="Back"
                  icon="pi pi-arrow-left"
                  iconPos="right"
                  (onClick)="activateCallback(2)"
                />
                <p-button
                  label="Submit"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  type="Submit"
                  [disabled]="
                    form.get('subcategory')?.invalid ||
                    form.get('subcategory')?.pristine
                  "
                  [loading]="loading"
                />
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
    </form>
  </div>
</div>
