<div>
  <p-dialog
    header="Crop image"
    [modal]="true"
    [(visible)]="croperVisibility"
    [style]="{ width: '40rem' }"
    [closable]="false"
  >
    <div class="flex items-center justify-center">
      @if(croperLoading){
      <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
      }

      <div
        class="flex-col gap-1 items-center"
        [style]="{ display: croperLoading ? 'none' : 'flex' }"
      >
        <div class="block w-80 h-80 su-border p-1">
          <image-cropper
            [imageFile]="imageFile!"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="aspectRatio"
            [containWithinAspectRatio]="true"
            [resizeToWidth]="256"
            [resizeToHeight]="256"
            [cropperMinHeight]="256"
            [cropperMinWidth]="256"
            [alignImage]="'center'"
            [onlyScaleDown]="true"
            (imageCropped)="onImageCropped($event)"
            (imageLoaded)="omImageLoaded($event)"
            (loadImageFailed)="onLoadImageFailed()"
          ></image-cropper>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-between">
      <p-button
        (onClick)="onExit()"
        label="Cancel"
        icon="pi pi-trash"
        severity="danger"
      ></p-button>
      <p-button (onClick)="cropImage()" label="Crop image"></p-button>
    </div>
  </p-dialog>
</div>
