<div class="w-full">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="lg:grid lg:grid-cols-9 flex flex-col">
      <div class="col-start-1 col-span-4 flex flex-col gap-4">
        <p-password
          id="password"
          [feedback]="false"
          [style]="{ width: '100%' }"
          placeholder="Current password"
          [inputStyle]="{ width: '100%' }"
          formControlName="currentPassword"
          [toggleMask]="true"
        />

        <p-password
          id="password"
          [feedback]="false"
          placeholder="New password"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          formControlName="newPassword"
          [toggleMask]="true"
        />

        <p-password
          id="password"
          placeholder="Confirm new password"
          [feedback]="false"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          formControlName="newPasswordConfirm"
          [toggleMask]="true"
        />

        <div class="prose-sm text-red-500">
          @if(passwordIsInvalid) {
          <p class="m-0">
            Password must be at least 6 characters long and contain big letter!
          </p>
          } @else if (!passwordsAreEqual) {
          <p class="m-0">Password must be equal!</p>
          }
        </div>

        <p-button
          [style]="{ width: '100%' }"
          [disabled]="!form.valid"
          type="submit"
          [loading]="loading"
          >Change password</p-button
        >
      </div>
    </div>
  </form>
</div>
