<div class="w-80 relative">
  <img
    [src]="course().thumbnailUrl"
    class="h-44 w-80 cursor-pointer"
    [routerLink]="'/course/' + course().id + '/walk-through'"
  />
  <app-circle-progress
    [percent]="percentage()?.percentage ?? 0"
    [isWhite]="true"
    class="absolute top-[-12px] right-2"
  />
  <div class="flex justify-between">
    <div>
      <h1 class="text-lg font-bold my-0 text-wrap">{{ course().title }}</h1>
      <p class="my-0 text-slate-500">{{ course().authorName }}</p>

      <div (click)="addRating(course().id)" class="w-min mt-1">
        <p-rating [(ngModel)]="userRating()!.stars" [readonly]="true" />
      </div>
    </div>
    @if(percentage()?.percentage === 100){
    <div class="flex items-center">
      <p-button
        icon="pi pi-download"
        label="Certificate"
        severity="secondary"
      />
    </div>
    }
  </div>
</div>
