<div class="prose mb-8 flex justify-between items-center max-w-none w-full">
  <h1>Edit your course content!</h1>
  @if((this.course()?.status === CourseStatus.ChangesRequired) &&
  (latestComment() !== null || comments()?.length!==0)){ @if(latestComment() !==
  null){ @if(latestComment()?.isResolved === true){
  <p-button (click)="commentDialogVisible = true" icon="pi pi-comment" />
  } @else {
  <p-button
    (click)="commentDialogVisible = true"
    icon="pi pi-comment"
    severity="danger"
  />
  } } @else {
  <p-button
    (click)="commentDialogVisible = true"
    icon="pi pi-comment"
    severity="secondary"
  />
  } }
</div>
<p-accordion
  [value]="0"
  cdkDropList
  (cdkDropListDropped)="dropSection($event)"
  class="drag-list"
>
  @for (section of sections(); track section.id) {
  <p-accordion-panel [value]="section.id">
    <p-accordion-header
      cdkDrag
      [cdkDragDisabled]="sectionEdit"
      class="drag-box"
    >
      <app-section-item
        [section]="section"
        [editable]="true"
        (onEditChange)="changeSectionEditMode($event)"
        class="w-full"
      ></app-section-item>
      <div *cdkDragPlaceholder class="drag-placeholder"></div>
    </p-accordion-header>
    <p-accordion-content>
      <app-element-list
        [section]="section"
        [courseId]="courseId()"
        [course]="course()!"
      ></app-element-list>
      <app-add-new-element [sectionId]="section.id"></app-add-new-element>
    </p-accordion-content>
  </p-accordion-panel>
  }
</p-accordion>

<div class="my-4">
  <app-hidden-form-wrapper
    btnText="Add Section"
    (submit)="submitSection($event)"
  >
    <div class="mt-5"></div>
    <p-floatlabel>
      <input
        id="newSectionTitle"
        pInputText
        class="w-full"
        [(ngModel)]="newSectionTitle"
      />
      <label for="newSectionTitle">Title</label>
    </p-floatlabel>
  </app-hidden-form-wrapper>
</div>

@if(sections().length !== 0){
<div class="w-full flex justify-end">
  @if(course()?.status === CourseStatus.Draft){ @if(canSubmit()){
  <div class="prose my-4 flex flex-col items-end">
    <h3>Submit your course for review</h3>
    <p-button
      label="Submit for review"
      (onClick)="submitForReview($event)"
    ></p-button>
  </div>
  }@else {
  <div class="prose my-4 flex items-end flex-col">
    <h3 class="my-0">Cannot submit for review</h3>
    <p class="my-0 mt-1 text-right">
      Before submitting for review all sections must be set as published
    </p>
    <p class="my-0 text-right">and all elements must have content.</p>
  </div>
  } } @if(course()?.status === CourseStatus.SubmitedForReview ||
  course()?.status === CourseStatus.PendingReview ){
  <div class="prose my-4">
    <h3>Your course is waiting for review</h3>
  </div>
  } @if(course()?.status === CourseStatus.ChangesRequired){ @if(ifResolved()){
  @if(canSubmit()){
  <div class="prose my-4 flex flex-col items-end">
    <h3>Submit your course for new review</h3>
    <p-button
      label="Submit for review"
      (onClick)="submitForReview($event)"
    ></p-button>
  </div>
  } @else{
  <div class="prose my-4 flex items-end flex-col">
    <h3 class="my-0">Cannot submit for review</h3>
    <p class="my-1">
      You must set all your sections as published before submitting for review
    </p>
  </div>
  } } @else {
  <div class="prose my-4">
    <h3>Your course requires changes</h3>
  </div>
  } }
</div>
}

<p-confirmdialog />

<!-- Comments dialog -->
<p-dialog
  header="Comments"
  [modal]="true"
  [(visible)]="commentDialogVisible"
  [style]="{ width: '80%' }"
  [draggable]="false"
  class="cursor-default"
>
  <app-comment-dialog-for-instructor
    [comments]="comments()"
    [latestComment]="latestComment()"
  ></app-comment-dialog-for-instructor>
</p-dialog>
