<div class="prose mb-8">
  <h1>Edit your course content!</h1>
</div>
<p-accordion [value]="0">
  @for (section of sections(); track section.id) {
  <p-accordion-panel [value]="section.id">
    <p-accordion-header>{{ section.title }}</p-accordion-header>
    <p-accordion-content>
      <div>
        @for (element of section.elements; track element) {
        <app-element-item [element]="element"></app-element-item>
        }
      </div>
      <app-add-new-element></app-add-new-element>
    </p-accordion-content>
  </p-accordion-panel>
  }
</p-accordion>

<div class="my-4">
  <app-hidden-form-wrapper (submit)="submitSection()">
    <div class="prose">
      <h3 class="mb-1">Title</h3>
    </div>
    <input pInputText class="w-full" [(ngModel)]="newSectionTitle" />
  </app-hidden-form-wrapper>
</div>
