<div class="grid grid-cols-9">
  <div class="col-start-1 col-span-4 flex flex-col gap-4">
    <input pInputText placeholder="First name" />
    <input pInputText placeholder="Last name" />
    <input pInputText placeholder="Title" />
    <textarea class="custom-textarea" rows="7"></textarea>
  </div>

  <div class="col-start-6 col-span-4 flex flex-col gap-4">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-globe"></i>
      </p-inputgroup-addon>
      <input pInputText placeholder="Your website url" />
    </p-inputgroup>

    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-twitter"></i>
      </p-inputgroup-addon>
      <p-inputGroupAddon>https://x.com/</p-inputGroupAddon>
      <input pInputText placeholder="YourUserName" />
    </p-inputgroup>

    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-facebook"></i>
      </p-inputgroup-addon>
      <p-inputGroupAddon>http://www.facebook.com/ </p-inputGroupAddon>
      <input pInputText placeholder="YourUserName" />
    </p-inputgroup>

    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-youtube"></i>
      </p-inputgroup-addon>
      <p-inputGroupAddon>http://www.youtube.com/ </p-inputGroupAddon>
      <input pInputText placeholder="YourUserName" />
    </p-inputgroup>

    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-linkedin"></i>
      </p-inputgroup-addon>
      <p-inputGroupAddon>http://www.linkedin.com/ </p-inputGroupAddon>
      <input pInputText placeholder="YourUserName" />
    </p-inputgroup>

    <p-button [style]="{ width: '100%' }">Save</p-button>
  </div>
</div>
