<p-card
  [style]="{
    width: '20rem',
    overflow: 'hidden',
    margin: '0.5rem',
    height: '26rem'
  }"
  class="prose cursor-pointer"
>
  <ng-template pTemplate="header">
    <img
      alt="{{ course.title }}"
      class="w-full max-h-40"
      src="{{ course.thumbnailUrl }}"
      (click)="onClick()"
    />
  </ng-template>
  <ng-template pTemplate="title">
    <span pTooltip="{{ course.title }}">
      {{ course.title | truncate }}
    </span>
  </ng-template>
  <ng-template pTemplate="subtitle"> {{ course.authorName }} </ng-template>

  <div class="flex justify-between items-center">
    <div>$ {{ course.price }}</div>
    <span>
      <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
      @if(ifCanAddToCart()){
      <p-button
        icon="pi pi-shopping-cart"
        class="ml-2"
        (onClick)="addToCart()"
      />
      }
    </span>
  </div>
</p-card>
