<div class="flex my-5 su-border gap-4">
  <img
    [src]="course().thumbnailUrl"
    class="h-20 cursor-pointer m-3"
    [routerLink]="'/course-detail/' + course().id"
    [routerLink]="'/course-detail/' + course().id"
  />
  <div
    class="prose max-w-none !w-full cursor-pointer my-3"
    [routerLink]="'/course-detail/' + course().id"
  >
    <p class="mb-1 text-xl font-semibold">{{ course().title }}</p>
    @if(moderator()){
    <p class="my-1 text-lg">{{ course().authorName }}</p>
    } @else {
    <p-rating [(ngModel)]="courseListItem().averageRating" [readonly]="true" />
    }
  </div>
  @if(editable()){
  <div
    class="su-border-l items-center flex px-4 cursor-pointer"
    [routerLink]="'/course-edit/' + course().id + '/essentials'"
  >
    <i class="pi pi-file-edit" style="font-size: 1.5rem"></i>
  </div>
  } @if(moderator()){
  <div
    class="su-border-l items-center flex px-4 cursor-pointer"
    (click)="review(course().id)"
  >
    <i class="pi pi-angle-right" style="font-size: 1.5rem"></i>
  </div>
  }
</div>
