<div class="flex su-section-mt">
  <div style="width: 25%">
    <app-filter-for-courses
      [courses]="courses()"
      (filteredCourses)="onFilteredCourses($event)"
    />
  </div>
  <div style="width: 75%">
    @if(courses().length == 0){
    <div class="w-full flex items-center justify-center">
      <p-progress-spinner ariaLabel="loading" class="mt-24" />
    </div>
    } @for(course of filteredCourses(); track course.id){ @defer(on viewport){
    <app-course-item [course]="course" />
    } @placeholder {
    <p></p>
    } }
  </div>
</div>
