<p-card
  [style]="{
    width: '20rem',
    overflow: 'hidden',
    margin: '0.5rem',
    height: '26rem'
  }"
  class="prose"
>
  <ng-template pTemplate="header">
    <img
      alt="{{ course.title }}"
      class="w-full max-h-40 cursor-pointer"
      src="{{ course.thumbnailUrl }}"
      (click)="navigate('detail')"
    />
  </ng-template>
  <ng-template pTemplate="title">
    <span pTooltip="{{ course.title }}">
      {{ course.title | truncate }}
    </span>
  </ng-template>
  <ng-template pTemplate="subtitle"> {{ course.authorName }} </ng-template>

  <div class="flex justify-between items-center">
    <div>$ {{ course.price }}</div>
    <p-rating [(ngModel)]="course.averageRating" [readonly]="true" />
    <span>
      <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
      @if(isAuthor()){
      <p-button icon="pi pi-cog" class="ml-2" (onClick)="navigate('edit')" />
      } @else if(isInCart()){
      <p-button
        icon="pi pi-shopping-cart"
        class="ml-2"
        (onClick)="navigate('cart')"
      />
      }@else if(isPurchased()){
      <p-button
        icon="pi pi-external-link"
        class="ml-2"
        (onClick)="navigate('detail')"
      />
      } @else{
      <p-button
        icon="pi pi-cart-arrow-down"
        class="ml-2"
        (onClick)="addToCart()"
      />
      }
    </span>
  </div>
</p-card>
