<p-card
  [style]="{
    width: '20rem',
    overflow: 'hidden',
    margin: '0.5rem',
    height: '26rem'
  }"
  class="prose"
>
  <ng-template pTemplate="header">
    <img
      alt="{{ course.title }}"
      class="w-full max-h-40 cursor-pointer"
      src="{{ course.thumbnailUrl }}"
      (click)="navigate('detail')"
    />
  </ng-template>
  <ng-template pTemplate="title">
    <span pTooltip="{{ course.title }}">
      {{ course.title | truncate }}
    </span>
  </ng-template>
  <ng-template pTemplate="subtitle"> {{ course.authorName }} </ng-template>

  <div class="flex justify-between items-center">
    <div>$ {{ course.price }}</div>
    <p-rating [(ngModel)]="course.averageRating" [readonly]="true" />
    <span>
      <app-buy-button [course]="course" />
    </span>
  </div>
</p-card>
