<div
  class="su-border-y p-2 ml-14 my-2 bg-white element-item w-full"
  (click)="showContentDialog()"
  [ngClass]="{ pointer: element().hasAsset }"
>
  <div class="flex w-full items-start">
    <i [class]="definedIcon(element().type)" style="font-size: 1rem"></i>
    <div class="w-full px-4 prose">
      <div class="flex items-baseline gap-2 cursor-default">
        <h4 class="b-0 mt-0">{{ element().title }}</h4>
      </div>
      <p class="mt-1">{{ element().description }}</p>
    </div>
  </div>
</div>

<!-- Content Dialog -->
<p-dialog
  header="Element's Content"
  [modal]="true"
  [(visible)]="contentDialogVisible"
  [style]="{ width: '80%' }"
  [draggable]="false"
  class="cursor-default"
>
  <app-element-content-dialog
    [element]="element()"
    [visible]="contentDialogVisible"
  ></app-element-content-dialog>
  <div class="flex gap-2 justify-end">
    <p-button
      label="Cancel"
      severity="secondary"
      (click)="contentDialogVisible = false"
    />
  </div>
</p-dialog>
