<form
  class="flex-col flex gap-4"
  [formGroup]="signInForm"
  (ngSubmit)="subbmitSignIn()"
>
  <div class="flex flex-col gap-8">
    <p-floatLabel class="w-full">
      <input pInputText id="email" class="w-full" formControlName="email" />
      <label for="email">Email</label>
    </p-floatLabel>

    <p-floatlabel class="w-full">
      <p-password
        [feedback]="false"
        id="password"
        class="w-full"
        formControlName="password"
      />
      <label for="password">Password</label>
    </p-floatlabel>
  </div>

  <div class="w-full">
    <p-button
      type="submit"
      [style]="{ width: '100%' }"
      label="Sign in"
      icon="pi pi-sign-in"
      iconPos="right"
    />
  </div>
</form>
