<div class="grid gap-6 grid-cols-12 py-24 min-h-screen">
  <div class="col-start-2 col-span-6">
    <img src="assets/svg/undraw_sign_in.svg" />
  </div>
  <div class="col-start-8 col-span-4 flex flex-col items-center">
    <h1
      class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl"
    >
      Sign in to keep exploring new knowledge
    </h1>
    <form
      class="w-full flex-col flex gap-4"
      [formGroup]="signInForm"
      (ngSubmit)="subbmitSignIn()"
    >
      <div class="flex flex-col gap-8">
        <p-floatLabel class="w-full">
          <input pInputText id="email" class="w-full" formControlName="email" />
          <label for="email">Email</label>
        </p-floatLabel>

        <p-floatlabel class="w-full">
          <p-password
            [inputStyle]="{ width: '100%' }"
            [style]="{ width: '100%' }"
            [feedback]="false"
            id="password"
            formControlName="password"
          />
          <label for="password">Password</label>
        </p-floatlabel>
      </div>

      <div class="w-full">
        <p-button
          type="submit"
          [style]="{ width: '100%' }"
          label="Sign in"
          icon="pi pi-sign-in"
          iconPos="right"
        />
      </div>
    </form>
  </div>
</div>
