<div class="w-full min-h-screen">
  <div class="lg:grid gap-6 lg:grid-cols-11 py-24">
    <div class="col-start-2 col-span-6 hidden lg:block">
      <img src="assets/svg/undraw_sign_in.svg" />
    </div>
    <div class="col-start-8 col-span-3 flex flex-col items-center prose">
      <h1 class="text-5xl">Sign in to keep exploring new knowledge</h1>
      <form
        class="w-full flex-col flex gap-4"
        [formGroup]="signInForm"
        (ngSubmit)="subbmitSignIn()"
      >
        <div class="flex flex-col">
          <p-floatLabel class="w-full mb-2">
            <input
              pInputText
              id="email"
              class="w-full"
              formControlName="email"
            />
            <label for="email">Email</label>
          </p-floatLabel>

          
          <p-button class="self-end btn-sm" [link]="true" routerLink="/">Forgot your password?</p-button>
          
          <p-floatlabel class="w-full">
            <p-password
              [inputStyle]="{ width: '100%' }"
              [style]="{ width: '100%' }"
              [feedback]="false"
              id="password"
              formControlName="password"
            />
            <label for="password">Password</label>
          </p-floatlabel>
        </div>

        <div class="flex items-center gap-1">
          <p-checkbox
            formControlName="remember"
            [value]="true"
            inputId="remember"
            class="flex items-center"
            [binary]="true"
          />
          <label for="remember" class="ml-2">Remember me</label>
        </div>

        <div class="w-full">
          <p-button
            type="submit"
            [style]="{ width: '100%' }"
            label="Sign in"
            icon="pi pi-sign-in"
            iconPos="right"
            [disabled]="signInForm.invalid && signInForm.pristine"
          />
        </div>

      </form>

      
      <p>
        Don't have an account yet?
        <p-button [link]="true" routerLink="/sign-up">Sign Up</p-button>
      </p>
    </div>
  </div>
</div>
