<div class="flex w-full section-item">
  @if(!editing){
  <div class="w-full px-4 flex gap-2 items-center">
    <div class="prose">
      <p>{{ section().title }}</p>
    </div>
    @if(this.section().isPublished === true){
    <i
      class="pi pi-eye cursor-default"
      style="font-size: 1rem"
      pTooltip="This section is published"
      tooltipPosition="right"
    ></i>
    }@else{
    <i
      class="pi pi-eye-slash cursor-default"
      style="font-size: 1rem"
      pTooltip="This section is not published"
      tooltipPosition="right"
    ></i>
    }
  </div>
  } @else {
  <div class="flex flex-col w-full px-4">
    <div class="w-full">
      <div class="prose">
        <p class="m-0">Title</p>
      </div>
      <input pInputText class="w-full mb-2" [(ngModel)]="sectionTitle" />
    </div>
    <div class="flex flex-col">
      <div class="prose">
        <p class="m-0">Publish</p>
      </div>
      <div class="flex items-center gap-4">
        <p-selectbutton
          [options]="publishOptions"
          optionLabel="label"
          optionValue="value"
          [(ngModel)]="sectionIsPublished"
          [allowEmpty]="false"
        />
        @if(this.sectionIsPublished() === true){
        <i
          class="pi pi-eye"
          style="font-size: 1rem"
          pTooltip="This element will be visible before buying"
          tooltipPosition="right"
        ></i>
        } @else {
        <i
          class="pi pi-eye-slash"
          style="font-size: 1rem"
          pTooltip="This element will not be visible before buying"
          tooltipPosition="right"
        ></i>
        }
      </div>
    </div>
  </div>
  }
  <div
    class="flex justify-end w-full gap-2 px-2 button-container"
    [ngClass]="{ hidden: editing }"
  >
    <p-button
      icon="pi pi-file-edit"
      severity="secondary"
      (onClick)="changeEditVisibility()"
    ></p-button>
    <p-button
      icon="pi pi-trash"
      severity="danger"
      (onClick)="removeSection($event)"
    ></p-button>
  </div>
  <div class="flex justify-end gap-2 px-2" [ngClass]="{ hidden: !editing }">
    <p-button
      icon="pi pi-save"
      severity="success"
      (onClick)="saveSection()"
    ></p-button>
    <p-button
      icon="pi pi-times"
      severity="secondary"
      (onClick)="changeEditVisibility()"
    ></p-button>
  </div>
</div>
