<div class="su-section-mt">
  <div class="cols-responsive-3">
    <form [formGroup]="cardform" class="col-start-2 cols-responsive-3-start">
      <div class="flex flex-col gap-4 w-full">
        <p-inputmask
          mask="9999 9999 9999 9999"
          formControlName="cardNumber"
          placeholder="1234 5678 9012 3456"
          class="w-full"
          [unmask]="true"
          autoClear="false"
          [ngClass]="{
            'ng-invalid':
              cardform.get('cardNumber')?.invalid &&
              cardform.get('cardNumber')?.dirty
          }"
        />
        <div class="flex gap-4">
          <p-inputmask
            mask="99/99"
            formControlName="expirationDate"
            placeholder="MM/RR"
            class="w-full"
            [unmask]="true"
            autoClear="false"
            [ngClass]="{
              'ng-invalid':
                cardform.get('expirationDate')?.invalid &&
                cardform.get('expirationDate')?.dirty
            }"
          />
          <p-inputmask
            mask="999"
            formControlName="CVC"
            placeholder="CVC"
            class="w-full"
            [unmask]="true"
            autoClear="false"
            [ngClass]="{
              'ng-invalid':
                cardform.get('CVC')?.invalid && cardform.get('CVC')?.dirty
            }"
          />
        </div>
        <input
          type="text"
          pInputText
          formControlName="ownerName"
          placeholder="Name and Surname"
          [ngClass]="{
            'ng-invalid':
              cardform.get('ownerName')?.invalid &&
              cardform.get('ownerName')?.dirty
          }"
        />
        @if(!this.cardform.invalid){

        <p-button
          label="Buy"
          (onClick)="purchaseCurrency($event, 100)"
        ></p-button>
        }
      </div>
    </form>
  </div>
</div>

<p-confirmdialog />
