<div class="w-full su-section-mt">
  <div class="grid gap-6 grid-cols-12 py-12">
    <div
      class="col-start-3 col-span-8 lg:col-start-3 lg:col-span-4 prose lg:prose-xl"
    >
      <h1 class="pt-8">
        Boost your skills to new heights with us, just like a rocket flying to
        the moon!
      </h1>
      <div class="flex gap-2">
        <p-button
          routerLink="sign-up"
          styleClass="!px-8"
          size="large"
          label="Sign up"
        ></p-button>
        <p-button
          styleClass="!px-8"
          size="large"
          routerLink="sign-in"
          [outlined]="true"
          severity="secondary"
          label="Sign in"
        />
      </div>
    </div>

    <div class="col-start-7 col-span-4 flex-col items-center hidden lg:flex">
      <img src="assets/svg/undraw_rocket.svg" />
    </div>
  </div>

  <div>
    <div class="prose px-4">
      <h1>Recommended for you</h1>
    </div>
    <app-course-carousel
      [courses]="courseCaruseles()[0].courses"
    ></app-course-carousel>

    <div class="prose px-4">
      <h2>{{ courseCaruseles()[0].category.name }}</h2>
    </div>
    <app-course-carousel
      [courses]="courseCaruseles()[1].courses"
    ></app-course-carousel>

    <div class="prose px-4">
      <h2>{{ courseCaruseles()[0].category.name }}</h2>
    </div>
    <app-course-carousel
      [courses]="courseCaruseles()[2].courses"
    ></app-course-carousel>
  </div>
</div>
