.element-item .button-container {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.element-item:hover .button-container {
  opacity: 1;
}

:host ::ng-deep .p-fileupload-basic {
  display: block !important;
}

:host ::ng-deep .filelabel {
  display: none !important;
}
