<app-hidden-form-wrapper btnText="Add Element" (submit)="submitElement()">
  <div class="pl-10">
    <div class="mt-5"></div>

    <div class="prose">
      <p>Title</p>
    </div>
    <input
      id="newElementTitle"
      pInputText
      class="w-full"
      [(ngModel)]="newElementTitle"
    />
    <div class="mt-6"></div>
    <div class="prose">
      <p>Description</p>
    </div>
    <textarea
      pTextarea
      id="newElementDescription"
      class="custom-textarea w-full"
      rows="2"
      [(ngModel)]="newElementDescription"
    ></textarea>
    <div class="flex justify-center gap-10 mt-2">
      <p-card>
        <div class="flex flex-col justify-center items-center">
          <i class="pi pi-video" style="font-size: 3.5rem"></i>
          <div class="prose mt-1">
            <h3>Add Video</h3>
          </div>
        </div>
      </p-card>
      <p-card>
        <div class="flex flex-col justify-center items-center">
          <i class="pi pi-book" style="font-size: 3.5rem"></i>
          <div class="prose mt-1">
            <h3>Add Article</h3>
          </div>
        </div></p-card
      >
      <p-card>
        <div class="flex flex-col justify-center items-center">
          <i class="pi pi-objects-column" style="font-size: 3.5rem"></i>
          <div class="prose mt-1">
            <h3>Add Exercise</h3>
          </div>
        </div></p-card
      >
    </div>
  </div>
</app-hidden-form-wrapper>
