<div class="su-section-mt">
  @if(loading){
  <div class="w-full flex justify-center">
    <p-progress-spinner ariaLabel="loading" class="mt-24" />
  </div>
  } @else { @if(courses().length === 0){
  <div class="prose max-w-none !w-full">
    <h1 class="text-5xl text-center">You have not created any courses yet</h1>
  </div>
  } @else {
  <div class="prose max-w-none !w-full">
    <h1 class="text-5xl text-center">List of courses you are an author of</h1>
  </div>
  } }
  <div class="cols-responsive-2 mt-8">
    @for( course of courses(); track course.id){
    <app-course-item-short
      [course]="course"
      [editable]="true"
    ></app-course-item-short>
    }
  </div>
</div>

<div class="prose max-w-none !w-full">
  @if(discountCodes().length > 0){
  <h1 class="text-5xl text-center">Your discount codes</h1>
  }
</div>
@for(code of discountCodes(); track code.id){
<app-discount-code-item
  [discountCode]="code"
  (onEditCode)="editCode($event)"
  (onDeleteCode)="deleteCode($event)"
></app-discount-code-item>
}
<app-add-new-discount-code></app-add-new-discount-code>
