<div class="su-section-mt">
  @if(loading){
  <div class="w-full flex justify-center">
    <p-progress-spinner ariaLabel="loading" class="mt-24" />
  </div>
  } @else { @if(courses().length === 0){
  <div class="prose max-w-none !w-full">
    <h1 class="my-1 text-5xl">Courses</h1>
    <p class="my-1">You haven't created any courses yet.</p>
  </div>
  } @else {
  <div class="prose max-w-none !w-full">
    <h1 class="my-1 text-5xl">Courses</h1>
  </div>
  } }
  <p-tabs value="0">
    <p-tablist>
      @if(publishedCourses().length !== 0){
      <p-tab value="0">{{ publishedCourses().length }} Published Courses</p-tab
      >} @if(draftCourses().length !== 0){
      <p-tab value="1"> {{ draftCourses().length }} Drafts</p-tab>}
      @if(reviewCourses().length !== 0){
      <p-tab value="2">{{ reviewCourses().length }} During Review</p-tab>}
      @if(requiredChangesCourses().length !== 0){
      <p-tab value="3"
        >{{ requiredChangesCourses().length }} Required Changes</p-tab
      >}
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <div class="cols-responsive-2 mt-8">
          @for( course of publishedCourses(); track course.id){
          <app-course-item-short
            [course]="course"
            [editable]="true"
          ></app-course-item-short>
          }
        </div>
      </p-tabpanel>
      <p-tabpanel value="1">
        <div class="cols-responsive-2 mt-8">
          @for( course of draftCourses(); track course.id){
          <app-course-item-short
            [course]="course"
            [editable]="true"
          ></app-course-item-short>
          }
        </div>
      </p-tabpanel>
      <p-tabpanel value="2">
        <div class="cols-responsive-2 mt-8">
          @for( course of reviewCourses(); track course.id){
          <app-course-item-short
            [course]="course"
            [editable]="true"
          ></app-course-item-short>
          }
        </div>
      </p-tabpanel>
      <p-tabpanel value="3">
        <div class="cols-responsive-2 mt-8">
          @for( course of requiredChangesCourses(); track course.id){
          <app-course-item-short
            [course]="course"
            [editable]="true"
          ></app-course-item-short>
          }
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
