<div class="flex flex-col gap-2 m-0 py-0 px-2 pb-4 max-w-96 prose">
  @if(token() === "" || token() === null){
  <p>
    Enter the email associated with your account and we`ll send an email with
    instruction to reset your password
  </p>
  <input
    [style]="{ width: '100%' }"
    pInputText
    placeholder="Enter your email"
    [(ngModel)]="email"
  />

  <p-button [style]="{ width: '100%' }" (onClick)="sendIntruction()"
    >Send instruction</p-button
  >
  }

  {{ token() }}
  @if(token() !== "") {
  <p>Enter the new password below to change your password</p>

  <p-password
    id="password"
    [feedback]="false"
    placeholder="New password"
    [style]="{ width: '100%' }"
    [inputStyle]="{ width: '100%' }"
    formControlName="newPassword"
    [toggleMask]="true"
  />

  <p-password
    id="password"
    placeholder="Confirm new password"
    [feedback]="false"
    [style]="{ width: '100%' }"
    [inputStyle]="{ width: '100%' }"
    formControlName="newPasswordConfirm"
    [toggleMask]="true"
  />

  <p-button [style]="{ width: '100%' }" (onClick)="sendIntruction()"
    >Change password</p-button
  >
  }
</div>
