<div class="su-border prose max-w-none !w-full p-8 my-4">
  @if(!editing){
  <div class="flex justify-between">
    <div class="flex gap-8">
      <h2 class="my-0">Code: {{ discountCode()!.code }}</h2>
      <h2 class="my-0">
        Amount: {{ discountCode()!.discountValue + " " + getType() }}
      </h2>
    </div>

    <div class="flex gap-4">
      <p-button
        icon="pi pi-file-edit"
        severity="secondary"
        (onClick)="changeEditVisibility()"
      ></p-button>
      <p-button
        icon="pi pi-trash"
        severity="danger"
        (onClick)="removeCode($event)"
      ></p-button>
    </div>
  </div>
  } @else {
  <div class="flex justify-between">
    <div class="flex gap-8">
      <input
        type="text"
        pInputText
        [(ngModel)]="code"
        [ngClass]="{
          'ng-invalid': code === ''
        }"
      />
      <p-inputNumber
        [(ngModel)]="value"
        [ngClass]="{
          'ng-invalid': value < 1 || value > 100
        }"
      />
    </div>
    <p-button
      icon="pi pi-save"
      severity="success"
      (onClick)="editCode()"
    ></p-button>
  </div>
  }
  <div class="flex justify-between">
    <div class="flex flex-col items-center">
      <p class="my-0">Applies to entire cart:</p>
      <p-selectbutton
        [options]="stateOptions"
        optionLabel="label"
        optionValue="value"
        [allowEmpty]="false"
        [disabled]="!editing"
        [(ngModel)]="entireCart"
      />
    </div>
    <div class="flex flex-col items-center">
      <p class="my-0">Is active:</p>
      <p-selectbutton
        [options]="stateOptions"
        optionLabel="label"
        optionValue="value"
        [allowEmpty]="false"
        [disabled]="!editing"
        [(ngModel)]="isActive"
      />
    </div>
    <div class="flex flex-col items-center">
      <p class="my-0">Is visible on main page:</p>
      <p-selectbutton
        [options]="stateOptions"
        optionLabel="label"
        optionValue="value"
        [allowEmpty]="false"
        [disabled]="!editing"
        [(ngModel)]="isPublic"
      />
    </div>
  </div>
  @if(discountCode()!.appliesToEntireCart === false &&
  discountCode()!.discountedItems) { @for(course of courses(); track course.id){
  <div class="flex gap-4 items-center">
    <p>{{ course.title }}</p>
    <p-button
      icon="pi pi-trash"
      severity="danger"
      (onClick)="removeItem($event, course.id)"
    ></p-button>
  </div>

  }
  <input type="text" pInputText [(ngModel)]="newItemId" />
  <p-button label="Add" (onClick)="addItem()"></p-button>
  }
</div>

<p-confirmDialog />
