<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Waiting for review</p-tab>
    <p-tab value="1">Started reviews</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <div class="su-section-mt prose max-w-none !w-full">
        <h1 class="text-center">Courses waiting for review</h1>
      </div>

      @for(course of coursesWaitingForReview(); track course.id){
      <app-course-item-short
        [course]="course"
        [moderator]="true"
        (onReview)="startReview($event)"
      ></app-course-item-short>
      }
    </p-tabpanel>
    <p-tabpanel value="1">
      <div class="su-section-mt prose max-w-none !w-full">
        <h1 class="text-center">Courses with started review</h1>
      </div>

      @for(course of coursesWithStartedReviews(); track course.id){
      <app-course-item-short
        [course]="course"
        [moderator]="true"
        (onReview)="toReview($event)"
      ></app-course-item-short>
      }
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
