<div class="w-full su-section-mt">
  <div class="grid grid-cols-14 h-full">
    <div class="col-span-2 col-start-1 sticky top-20 self-start">
      <div class="flex flex-col su-border bg-white p-2 prose">
        <div class="flex gap-2 items-center">
          <p class="my-0.5">Navigate</p>
        </div>
        <div class="flex gap-2 items-center menu-item">
          <i class="pi pi-palette" style="font-size: 1rem"></i>
          <p
            class="cursor-pointer my-0.5"
            [routerLink]="'/course-edit/' + this.courseId() + '/creator'"
          >
            Creator
          </p>
        </div>
        <div class="flex gap-2 items-center menu-item">
          <i class="pi pi-link" style="font-size: 1rem"></i>
          <p
            class="cursor-pointer my-0.5"
            [routerLink]="'/course-edit/' + this.courseId() + '/essentials'"
          >
            Essentials
          </p>
        </div>
        <div class="flex gap-2 items-center menu-item">
          <i class="pi pi-dollar" style="font-size: 1rem"></i>
          <p
            class="cursor-pointer my-0.5"
            [routerLink]="'/course-edit/' + this.courseId() + '/price'"
          >
            Price
          </p>
        </div>
        <div class="flex gap-2 items-center menu-item">
          <i class="pi pi-home" style="font-size: 1rem"></i>
          <p
            class="cursor-pointer my-0.5"
            [routerLink]="'/course-edit/' + this.courseId() + '/price'"
          >
            Landing Page
          </p>
        </div>
      </div>
    </div>

    <!-- <button routerLink="creator">Navigate</button> -->
    <div class="col-start-4 col-span-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
