@if(loading){
<div class="flex w-full justify-center items-center" style="height: 80vh">
  <p-progress-spinner ariaLabel="loading" />
</div>
}@else{ @if(chats().length === 0){
<div class="grid grid-cols-2 prose max-w-none gap-8 su-section-mt mb-8">
  <div class="grid-start-1 grid-span-1 flex flex-col items-right pt-12">
    <h2 class="text-5xl mb-2 text-right">You don't have any available</h2>
    <h2 class="text-5xl mb-2 text-right">chats at the moment.</h2>
  </div>

  <div class="grid-start-2 grid-span-1">
    <img src="assets/svg/chat.svg" />
  </div>
</div>

}@else{
<div class="flex flex-row su-section-mt mb-8 gap-6">
  <div class="flex flex-col gap-4 scrollable-div pr-4" style="width: 25%">
    @if(user()?.isInRole(UserRole.Instructor)){
    <p-accordion value="0">
      @for(course of availableCourses(); track course.id){
      <p-accordion-panel [value]="$index">
        <p-accordion-header>
          {{ course.title }}
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-4 mt-4">
            @for (chat of getChatsForCourse(course.id); track $index) {
            <app-chat-item
              [isSelected]="isChatSelected(chat)"
              (onSelected)="selectChat($event)"
              [chat]="chat"
            ></app-chat-item
            >}
          </div>
        </p-accordion-content>
      </p-accordion-panel>
      }
    </p-accordion>

    } @if(searchVisible){
    <input
      type="text"
      pInputText
      [(ngModel)]="searchValue"
      (ngModelChange)="applyFilter()"
      placeholder="Search..."
    />} @for (chat of filteredChats(); track $index) {
    <app-chat-item
      [isSelected]="isChatSelected(chat)"
      (onSelected)="selectChat($event)"
      [chat]="chat"
    ></app-chat-item>
    }
  </div>

  <div class="w-full">
    <app-chat-window [chat]="selectedChat()"></app-chat-window>
  </div>
</div>
}}
