<div class="su-section-mt px-12 prose max-w-none !w-full mb-8">
  @if(cart() === null){
  <h1 class="my-1 text-5xl">Cart</h1>
  <p class="my-1">{{ numberOfCartItems() }} items in cart</p>
  <hr class="my-1" />
  <div class="grid grid-cols-[1fr_auto_1fr]">
    <div class="grid-start-1 grid-span-1"></div>
    <div class="grid-start-2 grid-span-1 flex flex-col items-center">
      <h4 class="text-5xl mb-2">Your cart is empty.</h4>
      <p class="my-1 mb-3">Continue shopping and find your perfect item.</p>
      <p-button
        label="Continue shopping"
        styleClass="!rounded-none mt-5"
        class="big-btn"
        [routerLink]="''"
      />
    </div>

    <div class="grid-start-3 grid-span-1">
      <img src="assets/svg/cart.svg" />
    </div>
  </div>
  } @else {
  <div class="grid grid-cols-3 gap-20">
    <div class="flex flex-col col-start-1 col-span-2">
      <div>
        <h1 class="my-1 text-5xl">Cart</h1>
        <p class="my-1">{{ numberOfCartItems() }} items in cart</p>
        <hr class="my-1" />
      </div>

      @for(item of cartItems(); track item.id){
      <app-cart-item
        [cartItem]="item"
        (removeItem)="removeItem($event)"
        class="w-full"
        [deletable]="true"
      ></app-cart-item>
      }
    </div>
    <div class="flex flex-col col-start-3 prose max-w-none !w-full mt-5">
      @if(cart()?.total === cart()?.totalBeforeDiscount ||
      cart()?.totalBeforeDiscount===null){
      <div>
        <p class="mb-2 text-lg">Total price:</p>
        <h2 class="text-4xl my-0 mb-2 font-medium">
          {{ cart()?.total | number : "1.2-2" }} $
        </h2>
      </div>
      } @else {
      <div class="flex flex-col">
        <p class="mb-2 text-lg">Total price:</p>
        <div class="flex gap-4 items-end">
          <h2 class="text-4xl my-0 mb-2 font-medium">
            {{ cart()?.total | number : "1.2-2" }} $
          </h2>
          <p class="line-through my-0 mb-2 text-xl">
            {{ cart()?.totalBeforeDiscount | number : "1.2-2" }} $
          </p>
        </div>
      </div>
      }
      <div class="w-full my-2 justify-center">
        <p-button
          icon="pi pi-shopping-cart"
          label="Buy"
          class="wide-btn"
          routerLink="/order-summary"
          styleClass="!rounded-none"
        ></p-button>
      </div>
      <hr class="my-2" />
      <p>Discount Code</p>
      <div class="flex items-center">
        <input
          type="text"
          pInputText
          [(ngModel)]="discountCode"
          [value]="cart()?.discountCode?.code"
          placeholder="Enter discount code"
          class="my-0 w-full !rounded-none"
          [disabled]="cart()?.discountCode?.code ?? false"
        />
        @if((!cart()?.discountCode || (discountCode !==
        cart()?.discountCode?.code))){
        <p-button
          label="Apply"
          (onClick)="applyCode()"
          styleClass="!rounded-none"
          class="input-btn"
        ></p-button>
        } @else {
        <p-button
          icon="pi pi-times"
          (onClick)="delCode()"
          styleClass="!rounded-none"
          class="input-btn"
          severity="danger"
        ></p-button>
        }
      </div>
      @if(invalidCode){
      <p class="my-0 mt-1 text-red-500 text-sm pl-1">
        The discount code entered is not valid
      </p>
      }
    </div>
  </div>

  }
</div>
