<div class="su-section-mt px-12">
  @if(cart() === null){
  <div class="prose max-w-none !w-full">
    <h1 class="text-center text-6xl">Nothing in cart</h1>
  </div>
  } @else {
  <div class="grid grid-cols-3 gap-20">
    <div class="flex flex-col gap-4 col-start-1 col-span-2">
      @for(item of cartItems(); track item.id){
      <app-cart-item
        [cartItem]="item"
        (removeItem)="removeItem($event)"
        class="w-full"
        [deletable]="true"
      ></app-cart-item>
      }
    </div>
    <div class="flex flex-col col-start-3 prose max-w-none !w-full mt-5">
      @if(cart()?.total === cart()?.totalBeforeDiscount ||
      cart()?.totalBeforeDiscount===null){
      <div>
        <h1 class="mb-2">Total price:</h1>
        <h1>$ {{ cart()?.total }}</h1>
      </div>
      } @else {
      <div class="flex flex-col">
        <h1 class="mb-2">Total price:</h1>
        <h2 class="line-through my-0">$ {{ cart()?.totalBeforeDiscount }}</h2>
        <h1 class="my-2">$ {{ cart()?.total }}</h1>
      </div>
      } @if(cart()?.discountCode){
      <p class="my-0 text-primary-500 text-sm">
        Applied code {{ cart()?.discountCode?.code }}
      </p>
      }
      <div class="flex gap-4 items-center">
        <input
          type="text"
          pInputText
          [(ngModel)]="discountCode"
          [value]="cart()?.discountCode?.code"
          placeholder="Enter discount code"
          class="my-0 w-full"
        />
        @if((!cart()?.discountCode || (discountCode !==
        cart()?.discountCode?.code)) && discountCode!==''){
        <p-button icon="pi pi-plus" (onClick)="applyCode()"></p-button>
        } @else {
        <p-button icon="pi pi-times" (onClick)="delCode()"></p-button>
        }
      </div>
      @if(invalidCode){
      <p class="my-0 text-red-500 text-sm pl-1">Invalid Code</p>
      }
      <div class="w-full mt-4 justify-center">
        <p-button
          icon="pi pi-shopping-cart"
          label="Buy"
          class="wide-btn"
          routerLink="/order-summary"
        ></p-button>
      </div>
    </div>
  </div>

  }
</div>
