.element-item .button-container {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.element-item:hover .button-container {
  opacity: 1;
}

:host ::ng-deep .p-fileupload-basic {
  display: block !important;
}

:host ::ng-deep .filelabel {
  display: none !important;
}

:host ::ng-deep .attachment-btn {
  border-width: 2px;
  border-color: F2F2F2;
  border-style: solid;
  border-radius: 8px;
}

:host ::ng-deep .attachment-btn button {
  padding: 2px 6px;
  background: white;
  color: #6e6e71;
}
