<div class="su-section-mt prose max-w-none w-full mb-24">
  <div class="flex">
    <div [style]="'width: 80%'">
      @if(currentElement && currentElement.hasAsset){
      <h1>{{ currentElement.title }}</h1>
      @if(currentElement.type === AssetType.Video){
      <app-videojs *ngIf="hasLink" [videoLink]="fileLink()"></app-videojs>

      } @if(currentElement.type === AssetType.Article){
      <div class="w-full flex justify-center">
        <pdf-viewer
          [src]="fileLink()"
          [render-text]="true"
          [original-size]="false"
          style="width: 50vw; height: 80vh"
        ></pdf-viewer>
      </div>
      } @if(currentElement.type === AssetType.Exercise){ @if(currentAssignment
      && currentAssignment.exerciseType===ExerciseType.Quiz){
      <app-solve-quiz
        [quizes]="currentQuiz"
        [instruction]="currentAssignment.instruction"
      ></app-solve-quiz>
      } @if(currentAssignment &&
      currentAssignment.exerciseType===ExerciseType.QuestionAnswer){
      <app-solve-question
        [questions]="currentQuestion"
        [instruction]="currentAssignment.instruction"
      ></app-solve-question>
      } @if(currentAssignment &&
      currentAssignment.exerciseType===ExerciseType.FillTheGap){
      <app-solve-fill-the-gap
        [sentences]="currentFillTheGap"
        [instruction]="currentAssignment.instruction"
      ></app-solve-fill-the-gap>
      } } }
    </div>
    <div [style]="'width: 20%'">
      <p-accordion [value]="0">
        @for (section of sections(); track section.id) {
        <p-accordion-panel [value]="section.id">
          <p-accordion-header>
            <app-section-item
              [section]="section"
              [editable]="false"
              class="w-full"
            ></app-section-item>
          </p-accordion-header>
          <p-accordion-content>
            @for(element of section.elements; track element.id){
            <app-element-item-display
              [element]="element"
              [courseId]="courseId()"
              [moderator]="false"
              (onClick)="onElementClicked($event)"
            ></app-element-item-display>
            }
          </p-accordion-content>
        </p-accordion-panel>
        }
      </p-accordion>
    </div>
  </div>
</div>
