<div class="flex flex-col">
  @if(courses().length !== 0){ @for(course of coursesWithPercentage(); track
  course.id){
  <div
    class="flex gap-3 items-center cursor-pointer"
    [routerLink]="'/course-detail/' + course.id"
  >
    <img [src]="course.thumbnailUrl" class="h-14 w-24 cursor-pointer my-4" />
    <div>
      <h1 class="mb-0 text-base font-semibold">
        {{ course.title | truncate }}
      </h1>
    </div>
    <app-circle-progress [percent]="course.percentage" />
  </div>
  <hr class="my-1" />
  }
  <div
    class="bg-primary-500 flex justify-center items-center py-3 mt-3 cursor-pointer"
    [routerLink]="'user/' + user()?.id + '/courses'"
  >
    <p class="text-white font-semibold text-base">All courses</p>
  </div>
  } @else {
  <h1 class="font-semibold text-lg">You don't have any courses.</h1>
  }
</div>
